# ======================
# NODE MODULES
# ======================
node_modules/
**/node_modules/

# ======================
# ENV FILES (IMPORTANT)
# ======================
.env
.env.*
!.env.example

# ======================
# BUILD FILES
# ======================
dist/
build/
.next/
out/

# ======================
# LOG FILES
# ======================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# VITE
# ======================
vite.svg

# ======================
# CACHE
# ======================
.cache/
.parcel-cache/

# ======================
# TEST
# ======================
coverage/

# ======================
# EDITOR
# ======================
.vscode/
.idea/

# ======================
# MISC
# ======================
*.local